@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Containers for pages and figures*/
.main-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222020;
}


.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.figure-container {
  display: inline-block;
  text-align: center;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navigation {
  margin-top: 50px;
  margin-left: -120px;
}

/* Headers */
.main-header {
  margin-bottom: 30px;
  font-family: "Graphik LCG", sans-serif;
  font-weight: 500;
  color: #fff;
}

.about-header {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.other-headers {
  padding-left: 180px;
  padding-top: 100px;
  padding-bottom: 25px;
  font-size: 36px;
}

/* Links */
.navigation-link {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}

.navigation-link-download {
  border: 3px solid #2f1ce4;
  padding: 20px;
  background-color: #2f1ce4;
}

.navigation-link-detail {
  border: 3px solid #fff;
  padding: 20px;
  background-color: transparent;
}

.navigation-link-back {
  background-image: url("../images/return.png");
  background-repeat: no-repeat;
  background-size: 27px;
  background-position: left center;
  padding-left: 35px;
  color: #000;
}

.tags-link {
  text-decoration: underline;
}

.color-skillbox {
  color: #2f1ce4;
}



.info-list {
  padding-left: 200px;
  font-size: 18px;
}

.programm-list {
  padding-left: 200px;
  font-size: 18px;
}

.programm-list span {
  color: #000;
}

.all-paragrafs {
  padding-left: 180px;
  padding-bottom: 20px;
}


.all-images {
  max-width: 400px;
}

.tags {
  margin-top: 100px;
  margin-left: 100px;
  border-collapse: collapse
}

.tags-items {
  border: 1px solid #a0a0a0;
}

.tags-items-last {
  text-align: center;
  font-weight: 700;
}
