@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Containers for pages and figures*/
.modules-body {
  width: 1920px;
  box-sizing: border-box;
}


.modules-container {
  background: #f2f2f2;
  width: 1550px;
  margin-top: 51px;
  margin-left: 370px;

}

.main-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222020;
}


.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 30px;
}

.figure-container {
  display: table;
  text-align: center;
  padding-left: 290px;
  margin-top: 35px;
  margin-bottom: 55px;

}

.modules-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 1040px;
  border: 2px solid black;
}

.modules-card {
  width: 480px;
  height: 508px;
  margin: 24px;

  background-position: left top;
background-size: 480px 200px;

  box-shadow: -2.9px 0.9px 20px rgba(83, 83, 83, 0.31);
}

.modules-card-1 {
  background-image: url("../images/photo-1.png");

}

.modules-card-2 {
  background-image: url("../images/photo-2.png");
  margin-left: 0;


}

.modules-card-3 {
  background-image: url("../images/photo-3.png");
  margin-top: 0;

}

.modules-card-4 {
  background-image: url("../images/photo-4.png");
  margin-left: 0;
  margin-top: 0;

}
.figure-caption {
  padding-top: 15px;
}

.navigation {
  margin-top: 50px;
/*  margin-left: -120px;*/
}

/* Headers */
.main-header {
  margin-bottom: 30px;
  font-family: "Graphik LCG", sans-serif;
  font-weight: 500;
  color: #fff;
}

.modules-main-header {
  margin-top: 79px;
  margin-left: 110px;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
}

.modules-cards-header {

  margin-left: 54px;
  font-weight: 800;
  font-size: 36px;
  line-height: 56px;
}

.about-header {
  margin-top: 77px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.other-headers {
  padding-left: 180px;
  padding-top: 85px;
  padding-bottom: 25px;
  font-size: 36px;
}

.programm-header {

  padding-top: 173px;
  padding-bottom: 14px;
}

/* Links */
.navigation-link {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}

.navigation-link-download {
  border: 3px solid #2f1ce4;
  padding: 20px;
  background-color: #2f1ce4;
}

.navigation-link-detail {
  border: 3px solid #fff;
  padding: 20px;
  background-color: transparent;
}

.navigation-link-back {
  background-image: url("../images/return.png");
  background-repeat: no-repeat;
  background-size: 27px;
  background-position: left center;
  padding-left: 46px;
  color: #000;
}

.modules-navigation-link-back {
  display: block;
  margin-top: 23px;
  font-size: 18px;
  line-height: 56px;
}
.tags-link {
  text-decoration: underline;
}

.modules-skillbox-link {
  margin-top: 1px;
  margin-left: 1px;
  text-decoration: underline;
  text-decoration-color: #2f1ce4;
  font-family: Graphik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0.4px;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.color-skillbox {
  color: #2f1ce4;
}

.info-list {
  margin-bottom: -10px;
  padding-left: 200px;
  font-size: 18px;
  line-height: .9;
}

.programm-list {
  padding-left: 200px;
  font-size: 18px;
  font-weight: 700;

}

.programm-list-items {
  color: #000;
  line-height: 2.1;
  font-weight: 400;
}

.all-paragrafs {
  padding-left: 180px;
  padding-bottom: 45px;
  letter-spacing: 1.5px;
}


.all-images {
  margin: 0 auto;
  display: inline-block;
  max-width: 600px;
}

.tags {
  margin-top: 236px;
  margin-left: 102px;
  width: 980px;
  border-collapse: collapse
}


.tags-border {
  border: 1px solid #a0a0a0;
}
.tags-items-caption {
  padding-bottom: 30px;
}

.tags-items-th {
  height: 36px;
  padding: 2px;

}

.tags-items-td {
  height: 60px;
  padding: 2px;

}

.tags-item-left1-td {
  width: 150px;
}

.tags-item-left2-td {
  width: 340px;
  padding-left: 10px;
  font-size: 14px;
}

.tags-item-right1-td {
  width: 210px;
}
.tags-item-right2-td {
  width: 280px;
  padding-left: 10px;
  font-size: 14px;
}

.tags-item-last {
  text-align: center;
  font-weight: 700;
}

.info-list-li {
  margin-top: 15px;
}

.test-div {
  width: 200px;
  height: 200px;
  background:red;
}

.modules-cards-ul {
  margin-left: 55px;
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  color: #222020;
  letter-spacing: 0.16px;
}

.modules-card-opis {
  position: relative;
  top: 200px;
  height: 308px;
  background:#fff;
}

.modules-card-number {
  position: absolute;
  top: 240px;
  right: 14px;

  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.48px;
  color: #EAEAEA;
}


.modules-botton {
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  border-radius: 2px;
  border: 3px solid #2f1ce4;

}

.modules-botton-text {
  font-size: 18px;
  line-height: 56px;
  color: #2f1ce4;
  text-align: center;

}

.modules-figure {
  margin-top: -400px;
}

.modules-wraper {
  width: 100%;

}
