@font-face {
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2")     url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-family: "Graphik LCG";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
